NEXT_PUBLIC_UMBRA_CONTRACT=0xb424205202228CbC385A8A5E73569A0eA41d3a06
NEXT_PUBLIC_UMBRA_V2=true
NEXT_PUBLIC_UMBRA_V3=true
NEXT_PUBLIC_UMBRA_V4=true
NEXT_PUBLIC_UMBRA_ORACLE=0x5c56148a9a5E9FA1038243850b5B8242C8D4F1B1
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
